body{
    background-color: rgb(232, 151, 85);
}
label{
    color: black;
    font-size: larger;
    font-weight: 600 ;
}
.x{
    font-size: large;
    font-weight: 500;
}
.three{
    color: rgb(255, 136, 0);
    background-color: rgb(220, 188, 140);
    font-size: 49px;
    font-style: italic;
    font-weight: 1100;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

}
